jack.home=

# Toolchain names among legacy, jill-legacy, jack-api-vXX, jack-cli
reference.toolchain=
candidate.toolchain=

toolchain.prebuilt.jack=jack/dist/jack.jar
toolchain.prebuilt.jill=jill/dist/jill.jar
toolchain.prebuilt.jarjar=jack-tests/prebuilts/jarjar.jar
toolchain.prebuilt.proguard=jack-tests/prebuilts/proguard.jar

# dalvik-fast-host, dalvik-jit-host, art-host
runtime.list=
runtime.location.dalvik-fast-host=
runtime.location.dalvik-jit-host=
runtime.location.art-host=

toolchain.prebuilt.legacy-java-compiler=

# Internal - do not use
# toolchain.prebuilt.jack-script=server/jack-server/etc/jack
